## Default jekyll .gitignore
_site/
.sass-cache/

## RStudio project files
.Rproj.user
fishR.Rproj
.Rhistory

## Html files in the posts (left over from testing how the md files will look)
_posts/*.html

## Data files in the posts
_rmd/data/

## Intermediate files in the old fishR vignettes
examples/oldFishRVignettes/*.bbl
examples/oldFishRVignettes/*.brf
examples/oldFishRVignettes/*.log
examples/oldFishRVignettes/*.synctex.gz
examples/oldFishRVignettes/*.tex
examples/oldFishRVignettes/Figs/*.pdf
examples/oldFishRVignettes/cache/
